<component name="libraryTable">
  <library name="spring-boot-1.0.1.RELEASE">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot/1.0.1.RELEASE/8468cc1f4fd7c943dcf79b9316a89c0b56d131a3/spring-boot-1.0.1.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>