<component name="libraryTable">
  <library name="spring-boot-starter-actuator-1.0.1.RELEASE">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-actuator/1.0.1.RELEASE/c5115465d67b4d902f5f0baa5f09d47c7359c61d/spring-boot-starter-actuator-1.0.1.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>